    /*
    * Author: Isaiah Nwukor
    * UI Art Challenge
    */

    /* Fonts */
    @import url('https://fonts.googleapis.com/css?family=Open+Sans|Prata&display=swap');
    
    /* Navigation */
    #nav {z-index:1;position:fixed;width:96%;box-shadow:0 1px 7px -4px #252525;border-bottom: 1px solid #111;height:80px;background:#000904;padding: 0 2%;}
    #nav #left_section {float:left;line-height:80px;font-size:20pt;}
    #nav #left_section img {max-height:80px;vertical-align:middle;}
    #nav #right_section {float:right;}
    #nav ul {display:inline-flex;list-style:none;margin:0;}
    #nav ul li {margin:0 15px;line-height:80px;}
    #nav ul li a {color:#ffffff;text-decoration:none;}
    #nav ul li a:hover {color:#d66518;}
    #nav img {width:120px;}
    #nav span {color:#d0d0d0;}
    
    /* Main Styles */
    body {background:#e9e9e9;font-family: 'Open Sans', sans-serif;width: 100%;}
    body, html {margin:0;padding:0;}
    h1, h2, h3, h4, h5, h6, #nav, ul, table {font-family: "Open Sans", sans-serif;}
    a {text-decoration:none; color:#493fa9;}
    a:hover {color:#411463;cursor:pointer;text-decoration:underline;}
       
    /* Circle Set */
    ul#circle_set {padding-top:120px;margin: 0 auto;width:600px;}
    ul#circle_set li {list-style:none;}
    ul#circle_set li {border: 5px solid transparent;border-radius:100%;width:calc(50% - 40px);height:250px;display:inline-block;margin:10px;}
    ul#circle_set li.active {border: 5px solid #17141426;}

    /* Circle Set - Colors */
    ul#circle_set li.active.red {background:#c23e21;}
    ul#circle_set li.active.blue {background:#345698;}
    ul#circle_set li.active.yellow {background:#ffe002;}
    ul#circle_set li.active.green {background:#0a6d3e;}
    
    /* Button Section */
    div#button_set {width:98%;background:#00090478;padding:15px 1%;text-align:center;margin-top:20px;position:fixed;bottom:0px;}
    div#button_set button {background:#616b5e;color:#ffffff;text-transform:uppercase;letter-spacing:3px;border-radius:7px;margin:5px;padding:10px 40px;font-size:18px;border:1px solid #312d2d4d;}
    div#button_set button:last-child {background:#63b92d;}
    div#button_set button:hover {background:#434348;cursor:pointer;}
	div#button_set button.modal {background:#b95a2d;}

	/* Modal Box */
	#overlay {display:none;}
	#overlay.show {background:rgba(12, 11, 11, 0.7);width:100%;height:100%;position:fixed;top:0;z-index:9;display:block;}
	
	.modal_box {
	border: 1px solid #706a71;
	border-radius:3px;
	justify-content: center;
	align-items: center;
	width: 500px;
	max-width: 80%;
	background:#fff;
	position:absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
	.modal_header, .modal_options {
		display:flex;
		width: 94%;
		padding: 1.5% 3%;
		line-height:2em;
		font-weight:bold;
		font-size:1.2em;
	}
	.modal_header {
		border-bottom: 1px solid #a199a2;
	}
	.modal_options {
		border-top: 1px solid #a199a2;
		display:inline-block;
	}

	.modal_title{text-align:left;width:90%;padding-right:3%;}
	.close_button{max-height:35px;min-width:35px;font-weight:bold;background:none;width:7%;border: 2px solid #c23e21;color:#c23e21;border-radius:100px;}
	.close_button:hover {cursor:pointer;border: 2px solid #ff5f37;color:#ff5f37;}
	.modal_message {
		display:block;    
		width: 94%;
		padding: 1.5% 3%;
		line-height:1.5em;
	}

	.modal_options button {
		border: 1px solid #483f3f78;
		padding:10px 25px;
		border-radius:5px;
		margin-left:20px;
		float:right;
		font-weight:bold;
	}

	.modal_options button {
		cursor:pointer;
	}
	.modal_options .btn_cancel {
		color:#ff4b4b;
		background:#ffffff;
		border: 1px solid #ff4b4b;
	}
	.modal_options .btn_ok {
		color:#ffffff;
		background:#2db9b3;
	}

    
    @media only screen and (max-width:860px) {
        #nav ul {
            background:#000904;
            width: 100%;
            position:relative;
            left:3%;
            border-top:1px solid #e9e9e92b;
        }
        ul#circle_set {
            padding-left:0;
            padding-right:0;
            padding-top:200px;
            width:80%;
            text-align:center;
        }
        ul#circle_set li{
            width: 39%;
            height: 30vw;
            margin: 3.5%;
        }
    }
    @media only screen and (max-width:400px) {
        #nav span {
            display:none;
        }
        #nav #left_section {
            text-align:center;
            margin:0 auto;
            display:block;   
            float:initial;
            width:200px;
            padding:20px;
        }
        ul#circle_set {width: 100%;}
        ul#circle_set li {width:calc(50% - 40px);}

		/* Responsive Modal Buttons */
		.modal_options {
			display:inline-grid;
		}
		.modal_options button {
			margin: 5px auto;
			width:95%;
		}
    }